body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #eeeeee;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .newFilterOverlay a {
        font-size: 20px
    }

    .newFilterOverlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.parameterSet{
    display: none;
}

.noMaxWidth {
    max-width: unset;
}


/*
    Modifications to the bootstrap theme.
*/
.navbar-default {
    background-color: #470095;
    border-color: #470095;
}

    .navbar-default .navbar-brand {
        color: #ecf0f1;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #7a03fb;
        }

    .navbar-default .navbar-text {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #7a03fb;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #7a03fb;
        background-color: #470095;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #7a03fb;
        background-color: #470095;
    }

    .navbar-default .navbar-toggle {
        border-color: #470095;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #470095;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ecf0f1;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ecf0f1;
    }

    .navbar-default .navbar-link {
        color: #ecf0f1;
    }

        .navbar-default .navbar-link:hover {
            color: #7a03fb;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #7a03fb;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #7a03fb;
        background-color: #470095;
    }
}

.list-group-item.active {
    background-color: #2B0056;
    border-color: #2B0056;
}