@{
    ViewData["Title"] = "Home Page";
}
<!--
<div id="newFilterOverlay" class="overlay">
    <div class="overlay-content">
        <div class="row">
            <div class="col-xs-12">
                <p>String Filter</p>
            </div>
            <div class="col-sm-6">
                String
            </div>
            <div class="col-sm-6">
                Paramter
            <div
        </div>
    </div>
</div>
-->

<h2>Create.</h2>

<div id="podcastUrl" class="row">
    <div class="col-xs-12">
        <label for="urlInputField">Url of podcast to filter</label>
        <input type="text" class="form-control" id="urlInputField" />
    </div>
</div>

<br/>

<div id="currentFilters" class="row">
    <div class="col-sm-6">
        <label for="currentFiltersListBox">Current Filters</label>
        <div class="list-group" id="currentFiltersListBox">
            <a href="#" class="list-group-item active">Selected Filter</a>
            <a href="#" class="list-group-item ">Additional Filter</a>
        </div>
    </div>
    <div class="col-sm-6">
        <label for="currentFiltersListBox">Filter Settings</label>
        <div class="list-group" id="selectedFilterDetails">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">Paramter #1</div>
                    <div class="col-sm-6">Value #1</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">Paramter #1</div>
                    <div class="col-sm-6">Value #1</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="form-group col-xs-6">
                <div class="selectContainer">
                    <select class="form-control" name="size">
                        <option value="">Choose a filter</option>
                        <option value="s">Title Filter</option>
                        <option value="m">Description Filter</option>
                        <option value="l">Duration Filter</option>
                        <option value="xl">Publication Date Filter</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6 btn-group" role="group" aria-label="filter actions">
                <button type="button" class="btn btn-default" onclick="openNewFilterOverlay()">Add</button>
                <button type="button" class="btn btn-default">Remove</button>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-6">
        <label for="createPodcast">Click create once you are set all your filters.</label>
        <div class="input-group" id="createPodcast">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Create</button>
            </span>
            <input type="text" class="form-control" placeholder="new podcast url"/>
        </div>
    </div>
</div>