@{
    ViewData["Title"] = "Home Page";
}

<div id="newFilterOverlay" class="overlay">
    <div class="overlay-content">
        asdfasdf<br />
        asdf<br/>
        asdfasdfasdf
    </div>
</div>

<div id="pageHeader" class="row col-xs-12">
    <h4>Create new filtered podcast</h4>
</div>

<div id="podcastUrl" class="row">
    <div class="col-xs-12">
        <label for="urlInputField">Url</label>
        <input type="text" class="form-control" id="urlInputField" />
    </div>
</div>

<br/>

<div id="currentFilters" class="row">
    <div class="col-sm-6">
        <label for="currentFiltersListBox">Current Filters</label>
        <div class="list-group" id="currentFiltersListBox">
            <a href="#" class="list-group-item active">Selected Filter</a>
            <a href="#" class="list-group-item ">Additional Filter</a>
        </div>
        <div class="btn-group" role="group" aria-label="filter actions">
            <button type="button" class="btn btn-outline-primary">Add filter</button>
            <button type="button" class="btn btn-outline-danger">Remove filter</button>
        </div>
    </div>
    <div class="col-sm-6">
        <label for="currentFiltersListBox">Filter Settings</label>
        <div class="list-group" id="selectedFilterDetails">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">Paramter #1</div>
                    <div class="col-sm-6">Value #1</div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">Paramter #1</div>
                    <div class="col-sm-6">Value #1</div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-6">
        <label for="createPodcast">Click create once you are set all your filters.</label>
        <div class="input-group" id="createPodcast">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Create</button>
            </span>
            <input type="text" class="form-control" placeholder="new podcast url"/>
        </div>
    </div>
</div>